{% extends "izzatmapapp/base.html" %}
<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <title>about</title>



{% block app_content %}
    <h2>Learn about Izzat H.Mukattash</h2>
<hr>
<style>
   body {background-color: powderblue;}
</style>
<table>
    <tr>

<td style="text-align: middle"><img src="https://scontent-iad3-1.cdninstagram.com/t51.2885-19/13402317_239427476444337_1898023513_a.jpg"></td>
    </tr>
</table>
        <p> My name is Izzat habib Mukattash, most people in America know me as Izzy, I am from Amman Jordan and I am finally a senior. I will be graduation in April and will be heading to Denver to work with Turner Construction as an Engineer this upcoming May. My favorite soccer team is Germany and Barcalona and I love to work on and modify cars during my free time. </p>
<p>If you have any question feel free to contact me by email, by clicking on <a href="mailto:izzatmukattash11@hotmail.com?subject=Map%20App%20of%20Question">email.</a></p>
</hr>
{% endblock %}

